## 3.1 数据结构和序列

### 3.1.1 元组

#### 3.1.1.1 拆分元组

In [1]:
values = 1,2, 3, 4, 5

In [2]:
a, b, *rest = values

In [3]:
a

1

In [4]:
a, b

(1, 2)

In [6]:
rest

[3, 4, 5]

#### 3.1.2.3 排序

In [7]:
a = [7, 2, 5, 1, 3]

In [10]:
a.sort(reverse = True)

In [11]:
a

[7, 5, 3, 2, 1]

#### 3.1.2.4 二分搜索和维护已排序的列表

In [12]:
# bisect 模块支持二分查找、向已排序的列表插入值
# bisect.bisect: 找到插入值后仍保证排序的位置
# bisect.insort: 向这个位置插入值
# 注：bisect 模块不会检查列表是否已排好序，
#     对末排序的列表使用 bisect 不会产生错误，但结果不一定正确 
import bisect

c = [1, 2, 2, 2, 3, 4, 7]

In [13]:
bisect.bisect(c, 2)

4

In [15]:
bisect.bisect(c, 5)

6

In [16]:
bisect.insort(c, 6)

In [17]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

### 3.1.3 序列函数

#### 3.1.3.1 enumerate 函数

In [28]:
some_list = ['foo', 'bar', 'baz']

for number, element in enumerate(some_list, 1):
    print(number, element)

1 foo
2 bar
3 baz

#### 3.1.3.3 zip 函数

In [1]:
# zip 可以将多个列表、元组或其它序列成对组合成一个元组列表

seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

In [22]:
zipped = zip(seq1, seq2)

In [23]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [24]:
# zip 可以处理任意多的序列，元素的个数取决于【最短】的序列

seq3 = [False, True]

list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [32]:
# zip: 可以同时迭代多个序列，可结合 enumerate 使用

for i, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{i}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

#### 3.1.3.4 reversed 函数

In [35]:
# 从后向前迭代一个序列 
# reversed 是一个生成器，只有【实体化】之后才能创建翻转的序列

list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## 3.14 字典

In [36]:
empty_dict = {}

In [37]:
d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}

In [38]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [39]:
d1[7] = 'an integer'

In [40]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [42]:
d1['b']

[1, 2, 3, 4]

In [43]:
'b' in d1

True

In [44]:
# del 关键字：删除值
# pop(): 返回值的同时，删除键

d1[5] = 'some value'

In [45]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [46]:
d1['dummy'] = 'another value'

In [47]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [48]:
del d1[5]

In [49]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [50]:
ret = d1.pop('dummy')

In [51]:
ret

'another value'

In [52]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [54]:
d1.keys()

dict_keys(['a', 'b', 7])

In [55]:
list(d1.keys())

['a', 'b', 7]

In [56]:
# update(): 将一个字典与另一个融合

d2 = {'b': 'foo', 'c': 12}
d1.update(d2)

In [58]:
# update(): 在原地改变字典，因此任何传递给 update 的键的【旧值】都会被舍弃

d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### 3.1.4.1 用序列创建字典

In [63]:
# 字典本质上是2元元组的集合，
# dict 可以接受2元元组的列表

dict(zip(range(5), reversed(range(5))))

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### 3.1.4.2 默认值

In [74]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [75]:
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [76]:
# 上述代码可由 setdefault 替代：

by_letter2 = {}
for word in words:
    letter = word[0]
    by_letter2.setdefault(letter, []).append(word)

by_letter2

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [77]:
from collections import defaultdict

by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [79]:
dict(by_letter)

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

#### 3.1.4.3 有效的键类型

### 3.1.6 列表、集合和字典推导式

In [82]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [83]:
# 列表推导式
# 过滤出长度在2及以下的字符串，并将其转换成大写

[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [84]:
# 集合推导式

unique_lengths = {len(x) for x in strings}

In [85]:
unique_lengths

{1, 2, 3, 4, 6}

In [87]:
# map 函数可进一步简化

set(map(len, strings))

{1, 2, 3, 4, 6}

In [88]:
# 字典推导式
# 创建字符串的查找映射表，以确定它在列表中的位置

loc_mapping = {val: index for index, val in enumerate(strings)}

In [89]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### 3.1.6.1 嵌套列表推导式

In [90]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Plilar']]

In [93]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Steven']

In [96]:
# 可以用嵌套列表推导式的方法，将这些写在一起

result = [name for names in all_data for name in names if name.count('e') >= 2]
result

['Steven']

In [101]:
# 将整数元组的列表扁平化成整数列表

some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]