In [5]:
import pandas as pd
import numpy as np

### 3.11.1 Pandas 字符串操作简介

In [5]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']

[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [7]:
# 报错

data2 = ['peter', 'Paul', None, 'MARY', 'gUIDO']

[s.capitalize() for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

In [8]:
names = pd.Series(data2)
names

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

In [10]:
names.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

### 3.11.2 Pandas 字符串方法列表

#### 1. 与 Python 字符串方法相似的方法

In [11]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam', 
                  'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [13]:
# 返回一个字符串 Series

monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [14]:
# 返回数值

monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

#### 2. 使用正则表达式的方法

提取元素前面的连续字母作为每个人的名字

In [15]:
monte.str.extract('([A-Za-z]+)')

         0
0   Graham
1     John
2    Terry
3     Eric
4    Terry
5  Michael

找出所有开头和结尾都是辅音字母的名字

In [17]:
monte.str.findall(r"^[^AEIOU].*[^aeiou]$")

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

3. 其他字符串方法

In [20]:
# (1) 向量化字符串的取值和切片操作

monte.str[0: 3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [21]:
# 获取每个姓名的姓

monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

(2) 指标变量

In [22]:
full_monte = pd.DataFrame({'name': monte,
                          'info': ['B|C|D', 'B|D', 'A|C', 'B|D', 'B|C', 'B|C|D']})
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gilliam    A|C
3       Eric Idle    B|D
4     Terry Jones    B|C
5   Michael Palin  B|C|D

In [23]:
full_monte['info'].str.get_dummies("|")

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

### 3.11.3 案例：食谱数据库

In [6]:
path = r"E:\Python\Python for Data Analysis\datasets\usda_food\database.json"

try:
    recipes = pd.read_json(path)
except ValueError as e:
    print("Value Error: ", e)

In [7]:
path = r"E:\Python\Python for Data Analysis\datasets\usda_food\database.json"

with open(path) as f:
    line = f.readline()
pd.read_json(line).shape

(6636, 7)

In [8]:
# 将文件内容读取成 Python 数组
with open(path, 'r') as f:
    # 提取每一行内容
    data = (line.strip() for lin in f)
    # 将所有内容合并成一个列表
    data_json = "[{0}]".format(",".join(data))
# 用 JSON 形式读取数据
recipes = pd.read_json(data_json)

In [9]:
recipes.shape

(1, 6636)

In [10]:
recipes.iloc[0]

0       {'id': 1008, 'description': 'Cheese, caraway',...
1       {'id': 1009, 'description': 'Cheese, cheddar',...
2       {'id': 1018, 'description': 'Cheese, edam', 't...
3       {'id': 1019, 'description': 'Cheese, feta', 't...
4       {'id': 1028, 'description': 'Cheese, mozzarell...
5       {'id': 1029, 'description': 'Cheese, mozzarell...
6       {'id': 1038, 'description': 'Cheese, romano', ...
7       {'id': 1039, 'description': 'Cheese, roquefort...
8       {'id': 1048, 'description': 'Cheese spread, pa...
9       {'id': 1049, 'description': 'Cream, fluid, hal...
10      {'id': 1058, 'description': 'Sour dressing, no...
11      {'id': 1059, 'description': 'Milk, filled, flu...
12      {'id': 1068, 'description': 'Cream substitute,...
13      {'id': 1069, 'description': 'Cream substitute,...
14      {'id': 1078, 'description': 'Milk, producer, f...
15      {'id': 1079, 'description': 'Milk, reduced fat...
16      {'id': 1080, 'description': 'Milk, reduced fat...
17      {'id': 1081, 'description': 'Milk, reduced fat...
18      {'id': 1082, 'description': 'Milk, lowfat, flu...
19      {'id': 1083, 'description': 'Milk, lowfat, flu...
20      {'id': 1084, 'description': 'Milk, lowfat, flu...
21      {'id': 1085, 'description': 'Milk, nonfat, flu...
22      {'id': 1086, 'description': 'Milk, nonfat, flu...
23      {'id': 1087, 'description': 'Milk, nonfat, flu...
24      {'id': 1088, 'description': 'Milk, buttermilk,...
25      {'id': 1089, 'description': 'Milk, low sodium,...
26      {'id': 1090, 'description': 'Milk, dry, whole,...
27      {'id': 1091, 'description': 'Milk, dry, nonfat...
28      {'id': 1092, 'description': 'Milk, dry, nonfat...
29      {'id': 1093, 'description': 'Milk, dry, nonfat...
                              ...
6606    {'id': 23628, 'description': 'Beef, tenderloin...
6607    {'id': 23629, 'description': 'Beef, top sirloi...
6608    {'id': 23630, 'description': 'Beef, short loin...
6609    {'id': 23631, 'description': 'Beef, chuck, arm...
6610    {'id': 23632, 'description': 'Beef, brisket, f...
6611    {'id': 23633, 'description': 'Beef, chuck, arm...
6612    {'id': 23634, 'description': 'Beef, brisket, f...
6613    {'id': 23635, 'description': 'Beef, round, eye...
6614    {'id': 23636, 'description': 'Beef, round, top...
6615    {'id': 23637, 'description': 'Beef, round, bot...
6616    {'id': 23638, 'description': 'Beef, rib, small...
6617    {'id': 27015, 'description': 'CAMPBELL Soup Co...
6618    {'id': 27016, 'description': 'CAMPBELL Soup Co...
6619    {'id': 27021, 'description': 'CAMPBELL Soup Co...
6620    {'id': 27022, 'description': 'CAMPBELL Soup Co...
6621    {'id': 27023, 'description': 'CAMPBELL Soup Co...
6622    {'id': 27024, 'description': 'CAMPBELL Soup Co...
6623    {'id': 27025, 'description': 'CAMPBELL Soup Co...
6624    {'id': 27026, 'description': 'CAMPBELL Soup Co...
6625    {'id': 27032, 'description': 'CAMPBELL Soup Co...
6626    {'id': 31010, 'description': 'CAMPBELL Soup Co...
6627    {'id': 31013, 'description': 'CAMPBELL Soup Co...
6628    {'id': 31014, 'description': 'CAMPBELL Soup Co...
6629    {'id': 31016, 'description': 'CAMPBELL Soup Co...
6630    {'id': 31017, 'description': 'CAMPBELL Soup Co...
6631    {'id': 42161, 'description': 'Bologna, beef, l...
6632    {'id': 42173, 'description': 'Turkey and pork ...
6633    {'id': 43408, 'description': 'Babyfood, juice,...
6634    {'id': 43539, 'description': 'Babyfood, desser...
6635    {'id': 43546, 'description': 'Babyfood, banana...
Name: 0, Length: 6636, dtype: object